<div>
  <h1>Nature Parks - FAQs</h1>
  <p>FAQ list</p>
</div>

{% include '@components/myFooter/myFooter.html.twig' with {
  content: {
    address: '123 Some Street, A City, PostCode',
    social: {
      instagram: 'http://instagram.com',
      facebook: 'http://instagram.com',
      twitter: 'http://instagram.com',
    },
    copyright: '© 2023 Nature Parks Website / Management Services / Limited Company / Registration Number 00238811',
  }
}%}
